body {
  /* padding-top: 150px; */
  margin: 0;
  width: 100%;
  background-color: rgb(243, 242, 239)
}

.FD-main-div {
  /* position: absolute; */
  display: inline-flex;
  /* margin-top: 25%;
  margin-left: 25%;
  margin-right: 25%; */
  
  /* height: 100%;
  width: 80%; */
  background-color: rgb(243, 242, 239);
  display: inline-flex;
  max-height: fit-content;
}


.FD-Profile-SideCard {
  position: fixed;
  height: 200px;
  width: 220px;
  top: 10.5%;
  left: 10.5%;
  background-color: white;
  border: 3px;
  border-radius: 5px;
}

.FD-Profile-SideCard-Img {
  object-fit: cover;
  position: absolute;
  top: 35px;
  left: 80px;
  left: 38%;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.FD-Header-SideCard-Img {
  object-fit: cover;
  position: absolute;
  height: 70px;
  width: 220px;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.FD-Profile-SideCard-Name {
  font-weight: 600;
  font-family: sans-serif;
}

.FD-Profile-SideCard-Occupation {
  color: cadetblue;
  position: relative;
  bottom: 10px;
  font-family: sans-serif;
  font-size: small;
}

.FD-Profile-SideCard-Info {
  position: absolute;
  top: 100px;
  left: 50px;
  display: flex-wrap;
  gap: 0;
  justify-content: center;
  text-align: center;
  align-items: center;
  justify-items: center;
} 

.FD-LockedInNews-SideCard {
  position: fixed;
  height: 310px;
  width: 268px;
  /* top: 75px; 
  left: 990px;  */
  top: 10.5%;
  left: 68.8%;
  background-color: white;
  border: 3px;
  border-radius: 5px;
}

.FD-LockedInNews-Title {
  position: absolute;
  top: 5px;
  left: 10px;
  font-weight: 500;
  font-weight: bolder;
  font-family: sans-serif;
}

.FD-News-List {
  position: absolute;
  top: 40px;
}

.FD-List-Text {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.FD-Secondary-Text {
  font-family: sans-serif;
  font-size: 11px;
  color: gray;
  font-weight: normal;
}


.FD-Post-Card {
  height: 110px;
  width: 560px;
  position: absolute;
  top: 10.5%;
  /* top: 75px; */
  left: 27.8%;
  /* left: 400px; */

  background-color: white;
  border: 3px;
  border-radius: 10px;
}

.FD-Post-Button {
  position: absolute;
  height: 35px;
  width: 460px;
  padding-left: 15px;
  padding-top: 15px;
  color: grey;
  font-size: 15px;
  font-weight: 500;
  font-family: sans-serif;
  align-items: center;
  top: 15px;
  margin-left: 70px;
  border: 1px solid grey;
  background-color: white;
  border-radius: 40px;
}

.FD-Post-Button-Text {
  display: inline-flex;
  padding-top: 10px;
  padding-left: 10px;
  margin: 0;
}

.FD-Post-Button:hover {
  cursor: pointer;
  background-color: rgb(243, 242, 239)
}

.FD-Post-Div {
  height: 60vw;
  height: fit-content;
  width: 560px;
  position: absolute;
  flex-wrap: wrap;
  /* margin-top: 250px; */
  /* top: 200px;
  left: 400px; */
  top: 27.8%;
  left: 27.8%;
  background-color: transparent;
}

.FD-Posted-Card {
  position: relative;
  min-height: 180px;
  max-height: fit-content;
  width: 560px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-color: white;
  border: 3px;
  border-radius: 10px;
}



.FD-Post-Card-Img {
  object-fit: cover;
  position: absolute;
  top: 15px;
  margin-left: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.FD-Posted-Card-Img {
  object-fit: cover;
  position: absolute;
  top: 15px;
  margin-left: 15px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.FD-Posted-Card-Name {
  font-family: sans-serif;
  position: absolute;
  margin-left: 75px;
  font-size: 16px;
  font-weight: 600;
}

.FD-Posted-Card-Occupation {
  font-family: sans-serif;
  position: absolute;
  top: 25px;
  margin-left: 75px;
  font-size: 12px;
  color: grey;
}

.FD-Posted-Card-Description {
  position: absolute;
  top: 70px;
  font-family: sans-serif;
  font-size: 14px;
  margin-left: 15px;
  max-width: 600px;
}


.FD-Posted-Like-Comment-Div {
  display: inline-flex;
  position: absolute;
  top: 120px;
  left: 30px;
  justify-content: space-around;
}


.comment-icon-div {
  display: inline-flex;
  width: 250px;
  justify-content: center;
}

.like-icon-div {
  display: inline-flex;
  width: 250px;
  justify-content: center;
}

.like-icon-div:hover {
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(235 235 235);
}

.comment-icon-div:hover {
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(235 235 235);
}

.FD-Posted-Like-Icon {
  padding-top: 17px;
  padding-right: 5px;
  color: rgb(102, 102, 102);
}

.FD-Posted-Liked-Icon {
  padding-top: 17px;
  padding-right: 5px;
  color: rgb(80, 141, 226);
}

.FD-Posted-Like-Text {
  color: rgb(102, 102, 102);
  font-family: sans-serif;
}

.FD-Posted-Liked-Text {
  color: rgb(80, 141, 226);
  font-family: sans-serif;
}

.FD-Posted-Comment-Text {
  color: rgb(102, 102, 102);
  font-family: sans-serif;
}

.FD-Posted-Card-Update {
  position: absolute;
  top: 10px;
  right: 20px;
}

.FD-Posted-Card-Update:hover {
  cursor: pointer;
}


.FD-Posted-Card-Delete {
  position: absolute;
  top: 35px;
  right: 23px;
}

.FD-Posted-Card-Delete:hover {
  cursor: pointer;
}


.FD-Comment-Input-Div {
  display: inline-flex;
}

.FD-Comment-Div {
  position: relative;
  padding-top: 180px;
  height: fit-content;
}

.FD-Comment-Card-Img {
  object-fit: cover;
  margin-left: 8px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.FD-Comment-Input {
  height: 30px;
  width: 480px;
  padding-left: 8px;
  margin-left: 5px;
  border: 1px solid grey;
  border-radius: 15px;

  position: absolute;
  padding-left: 10px;
  padding-top: 10px;
  color: grey;
  font-size: 15px;
  font-weight: 500;
  font-family: sans-serif;
  align-items: center;
  border: 1px solid grey;
  background-color: white;
  border-radius: 40px;
}

.FD-Comment-Input:hover {
  cursor: pointer;
  background-color: rgb(243, 242, 239)
}

.FD-Comment-Bottom {
  margin-top: 15px;
  margin-bottom: 15px;
  height: fit-content;

}

.FD-Posted-Comment {
  display: inline-flex;
}

.FD-Posted-Comment-Info-Div {
  background-color: rgb(242 242 242);
  width: 490px;
  margin-left: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.FD-Posted-Comment-Name {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 14px;
  padding-left: 10px;
  margin: 0;
  margin-top: 10px;
}

.FD-Posted-Comment-Occupation {
  font-family: sans-serif;
  font-weight: lighter;
  color: rgb(97 97 97);
  font-size: 10px;
  padding-left: 10px;
  margin: 0;
}

.FD-Comment {
  font-family: sans-serif;
  padding-left: 10px;
  margin-top: 8px;
  font-size: 14px;
}


.FD-Posted-Card-Comment-Icon {
  position: absolute;
  top: 130px;
  right: 40px;
  font-size: 14px;
}

.FD-Posted-Card-Like-Icon {
  position: absolute;
  top: 130px;
  right: 80px;
  font-size: 14px;
}

.FD-Menu-Main {
  position: absolute;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  top: 15px;
  right: 20px;
  color: rgb(102, 102, 102);
}


.Post-Menu-Icon {
  position: relative;
  top: 4px;
}

.FD-Menu-Main:hover {
  border-radius: 100%;
  cursor: pointer;
  background-color: rgb(243, 242, 239)
}

.FD-Comment-Menu-Main {
  text-align: center;
  position: relative;
  padding-top: 10px;
  top: 3px;
  right: 30px;
  border-radius: 10px;
}

.FD-Comment-Menu-Icon {
  color: rgb(90 90 90);
  position: relative;
  right: -250px;
  top: -75px;
}

.FD-Comment-Menu-Icon:hover {
  cursor: pointer;
}

.FD-Menu-Options {
  position: absolute;
  display: inline-flex;
  top: 25px;
  right: -10px;
  height: 90px;
  width: 150px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  /* z-index: 1; */
}


.FD-Comment-Menu-Options {
  position: absolute;
  display: inline-flex;
  top: -45px;
  right: -20px;
  height: 90px;
  width: 150px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  /* z-index: 1; */
}

.FD-Posted-Menu-Edit-Div {
  position: absolute;
  display: inline-flex;
  left: 0;
  margin: 0;
  height: 50%;
  width: 100%;
  text-align: center;
}

.FD-Comment-Menu-Edit-Div {
  position: absolute;
  display: inline-flex;
  left: 0;
  margin: 0;
  height: 50%;
  width: 100%;
  text-align: center;
}

.FD-Posted-Menu-Edit-Div:hover {
  cursor: pointer;
  background-color: rgb(243, 242, 239)
}

.FD-Comment-Menu-Edit-Div:hover {
  cursor: pointer;
  background-color: rgb(243, 242, 239)
}


.FD-Posted-Menu-Delete-Div {
  position: absolute;
  display: inline-flex;
  margin: 0;
  left: 0;
  top: 50%;
  height: 50%;
  width: 100%;
  text-align: center;
}

.FD-Comment-Menu-Delete-Div {
  position: absolute;
  display: inline-flex;
  margin: 0;
  left: 0;
  top: 50%;
  height: 50%;
  width: 100%;
  text-align: center;
}

.FD-Posted-Menu-Delete-Div:hover {
  cursor: pointer;
  background-color: rgb(243, 242, 239)
}

.FD-Comment-Menu-Delete-Div:hover {
  cursor: pointer;
  background-color: rgb(243, 242, 239)
}

.FD-Posted-Card-Update {
  position: absolute;
  top: 17px;
  left: 15px;
  width: 80px;
  font-family: sans-serif;
  font-size: small;
  font-weight: 700;
  color: black;
  /* z-index: 1; */
}

.FD-Comment-Update {
  position: absolute;
  top: 17px;
  left: 15px;
  width: 80px;
  font-family: sans-serif;
  font-size: small;
  font-weight: 700;
  color: black;
  /* z-index: 1; */
}

.FD-Posted-Card-Delete {
  position: absolute;
  top: 17px;
  left: 20px;
  width: 80px;
  font-family: sans-serif;
  font-size: small;
  font-weight: 700;
  color: black;
  /* z-index: 1; */
}

.FD-Comment-Delete {
  position: absolute;
  top: 17px;
  left: 20px;
  width: 80px;
  font-family: sans-serif;
  font-size: small;
  font-weight: 700;
  color: black;
  /* z-index: 1; */
}

.FD-Menu-Icons {
  position: absolute;
  top: 15px;
  left: 15px;
  /* z-index: 1; */
}

.hidden {
  display: none;
}

@media screen and (min-width: 2560px) { 

  .FD-Profile-SideCard {
    position: fixed;
    height: 200px;
    width: 220px;
    top: 8%;
    left: 27.5%;
    background-color: white;
    border: 3px;
    border-radius: 5px;
  }

  .FD-Post-Card {
    height: 110px;
    width: 560px;
    position: absolute;
    top: 8%;
    left: 38%;  
    background-color: white;
    border: 3px;
    border-radius: 10px;
  }

  .FD-Post-Div {
    height: 60vw;
    height: fit-content;
    width: 560px;
    position: absolute;
    flex-wrap: wrap;
    top: 16.8%;
    left: 38%;  
    background-color: transparent;
  }

  .FD-LockedInNews-SideCard {
    position: fixed;
    height: 310px;
    width: 268px;
    top: 8%;
    left: 61.8%;
    background-color: white;
    border: 3px;
    border-radius: 5px;
  }

 }

@media screen and (min-width: 992px) and (max-width: 1199.98px) { 

  .FD-Profile-SideCard {
    left: 1.5%;
  }

  .FD-Post-Card {
    left: 25%;  
  }

  .FD-Post-Div {
    top: 19.8%;
    left: 25%;  
  }

  .FD-LockedInNews-SideCard {
    /* left: 76.5%; */
    display: none;
  }

}

@media screen and (min-width: 1200px) and (max-width: 1600px) { 
  .FD-Profile-SideCard {
    left: 12%;
  }

  .FD-Post-Card {
    left: 30%;  
  }

  .FD-Post-Div {
    /* top: 19.8%; */
    left: 30%;  
  }

  .FD-LockedInNews-SideCard {
    left: 74.5%;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1800px) { 
  .FD-Profile-SideCard {
    left: 15%;
  }

  .FD-Post-Card {
    left: 30%;  
  }

  .FD-Post-Div {
    /* top: 19.8%; */
    left: 30%;  
  }

  .FD-LockedInNews-SideCard {
    left: 66.5%;
  }
}

@media screen and (min-width: 1800px) and (max-width: 2200px) { 
  .FD-Profile-SideCard {
    left: 20%;
  }

  .FD-Post-Card {
    left: 34%;  
  }

  .FD-Post-Div {
    /* top: 19.8%; */
    left: 34%;  
  }

  .FD-LockedInNews-SideCard {
    left: 67%;
  }
}

@media screen and (min-width: 2200px) and (max-width: 2560px) { 
  .FD-Profile-SideCard {
    left: 27%;
  }

  .FD-Post-Card {
    left: 38%;  
  }

  .FD-Post-Div {
    top: 19.8%;
    left: 38%;  
  }

  .FD-LockedInNews-SideCard {
    left: 64.5%;
  }
}


@media screen and (min-width: 768px) and (max-width: 991.98px) { 

  .FD-Profile-SideCard {
    position: absolute;
    height: 165px;
    width: 560px;
    top: 8%;
    left: 15%;
    background-color: white;
    border: 3px;
    border-radius: 5px;
  }

  .FD-Profile-SideCard-Img {
    left: 43%;
  }

  .FD-Profile-SideCard-Name {
    position: absolute;
    top: -6px;
    width: 160px;
    left: 140px;
  }
  
  .FD-Profile-SideCard-Occupation {
    position: absolute;
    top: 22.5px;
    width: 140px;
    left: 152px;
  }

  .FD-Post-Card {
    top: 30%;
    left: 15%;  
  }

  .FD-Post-Div {
    top: 45%;
    left: 15%;  
  }

  .FD-LockedInNews-SideCard {
    display: none;  
  }
 }

@media screen and (min-width: 576px) and (max-width: 767.98px) { 

    .FD-Profile-SideCard {
      position: absolute;
      height: 165px;
      width: 560px;
      top: 8%;
      left: 10%;
      background-color: white;
      border: 3px;
      border-radius: 5px;
    }
  
    .FD-Profile-SideCard-Img {
      left: 43%;
    }
  
    .FD-Profile-SideCard-Name {
      position: absolute;
      top: -6px;
      width: 160px;
      left: 140px;
    }
    
    .FD-Profile-SideCard-Occupation {
      position: absolute;
      top: 22.5px;
      width: 140px;
      left: 152px;
    }
    .FD-Post-Card {
      top: 30%;
      left: 10%;  
    }
  
    .FD-Post-Div {
      top: 45%;
      left: 10%;  
    }
  
    .FD-LockedInNews-SideCard {
      display: none;  
    }

 }

@media screen and (max-width: 575.98px) { 
  .FD-Profile-SideCard {
    position: absolute;
    height: 165px;
    width: 560px;
    top: 8%;
    left: 0.5%;  
    background-color: white;
    border: 3px;
    border-radius: 5px;
  }

  .FD-Profile-SideCard-Img {
    left: 43%;
  }

  .FD-Profile-SideCard-Name {
    position: absolute;
    top: -6px;
    width: 160px;
    left: 140px;
  }
  
  .FD-Profile-SideCard-Occupation {
    position: absolute;
    top: 22.5px;
    width: 140px;
    left: 152px;
  }

  .FD-Post-Card {
    top: 30%;
    left: 0.5%;  
  }

  .FD-Post-Div {
    top: 45%;
    left: 0.5%;  
  }

  .FD-LockedInNews-SideCard {
    display: none;  
  }

 }
