body {
  padding-top: 150px;
  width: 100%;
  background-color: rgb(243, 242, 239)
}

.FD-main-div {
  display: inline-flex;
  height: fit-content;
}

.FD-Profile-SideCard {
  position: fixed;
  height: 200px;
  width: 220px;
  top: 75px;
  left: 160px;
  background-color: white;
  border: 3px;
  border-radius: 5px;
}

.FD-Profile-SideCard-Img {
  object-fit: cover;
  position: absolute;
  top: 35px;
  left: 80px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.FD-Header-SideCard-Img {
  object-fit: cover;
  position: absolute;
  height: 70px;
  width: 220px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.FD-Profile-SideCard-Name {
  font-weight: 600;
  font-family: sans-serif;
}

.FD-Profile-SideCard-Occupation {
  color: cadetblue;
  position: relative;
  bottom: 10px;
  font-family: sans-serif;
  font-size: small;
}

.FD-Profile-SideCard-Info {
  position: absolute;
  top: 100px;
  left: 50px;
  display: flex-wrap;
  gap: 0;
  justify-content: center;
  text-align: center;
  align-items: center;
  justify-items: center;
}

.FD-LockedInNews-SideCard {
  position: fixed;
  height: 310px;
  width: 268px;
  top: 75px;
  left: 990px;
  background-color: white;
  border: 3px;
  border-radius: 5px;
}

.FD-LockedInNews-Title {
  position: absolute;
  top: 5px;
  left: 10px;
  font-weight: 500;
  font-weight: bolder;
  font-family: sans-serif;
}

.FD-News-List {
  position: absolute;
  top: 40px;
}

.FD-List-Text {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.FD-Secondary-Text {
  font-family: sans-serif;
  font-size: 11px;
  color: gray;
  font-weight: normal;
}


.FD-Post-Card {
  height: 118px;
  width: 560px;
  position: absolute;
  top: 75px;
  left: 400px;

  background-color: white;
  border: 3px;
  border-radius: 10px;
}

.FD-Post-Button {
  position: absolute;
  height: 35px;
  width: 460px;
  padding-left: 15px;
  padding-top: 15px;
  color: grey;
  font-size: 15px;
  font-weight: 500;
  font-family: sans-serif;
  align-items: center;
  top: 15px;
  margin-left: 70px;
  border: 1px solid grey;
  background-color: white;
  border-radius: 40px;
}

.FD-Post-Button-Text {
  display: inline-flex;
  padding-top: 10px;
  padding-left: 10px;
  margin: 0;
}

.FD-Post-Button:hover {
  cursor: pointer;
  background-color: rgb(243, 242, 239)
}

.FD-Post-Div {
  height: 60vw;
  width: 560px;
  position: absolute;
  flex-wrap: wrap;
  top: 200px;
  left: 400px;
  background-color: transparent;
}

.FD-Posted-Card {
  position: relative;
  min-height: 180px;
  max-height: fit-content;
  width: 560px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-color: white;
  border: 3px;
  border-radius: 10px;
}



.FD-Post-Card-Img {
  object-fit: cover;
  position: absolute;
  top: 15px;
  margin-left: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.FD-Posted-Card-Img {
  object-fit: cover;
  position: absolute;
  top: 15px;
  margin-left: 15px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.FD-Posted-Card-Name {
  font-family: sans-serif;
  position: absolute;
  margin-left: 75px;
  font-size: 16px;
  font-weight: 600;
}

.FD-Posted-Card-Occupation {
  font-family: sans-serif;
  position: absolute;
  top: 25px;
  margin-left: 75px;
  font-size: 12px;
  color: grey;
}

.FD-Posted-Card-Description {
  position: absolute;
  top: 70px;
  font-family: sans-serif;
  font-size: 14px;
  margin-left: 15px;
  max-width: 600px;
}


.FD-Posted-Like-Comment-Div {
  display: inline-flex;
  position: absolute;
  top: 120px;
  left: 30px;
  justify-content: space-around;
}


.comment-icon-div {
  display: inline-flex;
  width: 250px;
  justify-content: center;
}

.like-icon-div {
  display: inline-flex;
  width: 250px;
  justify-content: center;
}

.like-icon-div:hover {
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(235 235 235);
}

.comment-icon-div:hover {
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(235 235 235);
}

.FD-Posted-Like-Icon {
  padding-top: 17px;
  padding-right: 5px;
  color: rgb(102, 102, 102);
}

.FD-Posted-Liked-Icon {
  padding-top: 17px;
  padding-right: 5px;
  color: rgb(80, 141, 226);
}

.FD-Posted-Like-Text {
  color: rgb(102, 102, 102);
  font-family: sans-serif;
}

.FD-Posted-Liked-Text {
  color: rgb(80, 141, 226);
  font-family: sans-serif;
}

.FD-Posted-Comment-Text {
  color: rgb(102, 102, 102);
  font-family: sans-serif;
}

.FD-Posted-Card-Update {
  position: absolute;
  top: 10px;
  right: 20px;
}

.FD-Posted-Card-Update:hover {
  cursor: pointer;
}


.FD-Posted-Card-Delete {
  position: absolute;
  top: 35px;
  right: 23px;
}

.FD-Posted-Card-Delete:hover {
  cursor: pointer;
}


.FD-Comment-Input-Div {
  display: inline-flex;
}

.FD-Comment-Div {
  position: relative;
  padding-top: 180px;
  height: fit-content;
}

.FD-Comment-Card-Img {
  object-fit: cover;
  margin-left: 8px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.FD-Comment-Input {
  height: 30px;
  width: 480px;
  padding-left: 8px;
  margin-left: 5px;
  border: 1px solid grey;
  border-radius: 15px;

  position: absolute;
  padding-left: 10px;
  padding-top: 10px;
  color: grey;
  font-size: 15px;
  font-weight: 500;
  font-family: sans-serif;
  align-items: center;
  border: 1px solid grey;
  background-color: white;
  border-radius: 40px;
}

.FD-Comment-Input:hover {
  cursor: pointer;
  background-color: rgb(243, 242, 239)
}

.FD-Comment-Bottom {
  margin-top: 15px;
  margin-bottom: 15px;
  height: fit-content;

}

.FD-Posted-Comment{
  display: inline-flex;
}

.FD-Posted-Comment-Info-Div {
  background-color: rgb(242 242 242);
  width: 490px;
  margin-left: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.FD-Posted-Comment-Name {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 14px;
  padding-left: 10px;
  margin: 0;
  margin-top: 10px;
}

.FD-Posted-Comment-Occupation {
  font-family: sans-serif;
  font-weight: lighter;
  color: rgb(97 97 97);
  font-size: 10px;
  padding-left: 10px;
  margin: 0;
}

.FD-Comment {
  font-family: sans-serif;
  padding-left: 10px;
  margin-top: 8px;
  font-size: 14px;
}


.FD-Posted-Card-Comment-Icon {
  position: absolute;
  top: 130px;
  right: 40px;
  font-size: 14px;
}

.FD-Posted-Card-Like-Icon {
  position: absolute;
  top: 130px;
  right: 80px;
  font-size: 14px;
}

.FD-Menu-Main {
  position: absolute;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  top: 15px;
  right: 20px;
  color: rgb(102, 102, 102);
}


.Post-Menu-Icon {
  position: relative;
  top: 4px;
  /* left: 1px; */
}

.FD-Menu-Main:hover {
  border-radius: 100%;
  cursor: pointer;
  background-color: rgb(243, 242, 239)
}

.FD-Comment-Menu-Main {
  text-align: center;
  position: relative;
  padding-top: 10px;
  top: 3px;
  right: 30px;
  border-radius: 10px;
}

.FD-Comment-Menu-Icon {
  color: rgb(90 90 90);
  position: relative;
  right: -250px;
  top: -75px;
}

.FD-Comment-Menu-Icon:hover {
  cursor: pointer;
}

.FD-Menu-Options {
  position: absolute;
  background-color: grey;
  top: 5px;
  right: 25px;
  border-radius: 5px;
  height: 60px;
  width: 80px;
}


.FD-Comment-Menu-Options {
  position: absolute;
  background-color: rgb(243, 242, 239);
  border-radius: 5px;
  height: 60px;
  width: 80px;
  top: -60px;
  right: 10px;
}

.FD-Posted-Menu-Edit-Div {
  background-color: rgb(254, 251, 251);
  height: 32px;
  width: 80px;
}

.FD-Comment-Menu-Edit-Div {
  background-color: rgb(254, 251, 251);
  height: 32px;
  width: 80px;
}

.FD-Posted-Menu-Edit-Div:hover {
  cursor: pointer;
  background-color: rgb(243, 242, 239)
}

.FD-Comment-Menu-Edit-Div:hover {
  cursor: pointer;
  background-color: rgb(243, 242, 239)
}


.FD-Posted-Menu-Delete-Div {
  background-color: rgb(254, 251, 251);
  height: 32px;
  width: 80px;
}

.FD-Comment-Menu-Delete-Div {
  background-color: rgb(254, 251, 251);
  height: 32px;
  width: 80px;
}

.FD-Posted-Menu-Delete-Div:hover {
  cursor: pointer;
  background-color: rgb(243, 242, 239)
}

.FD-Comment-Menu-Delete-Div:hover {
  cursor: pointer;
  background-color: rgb(243, 242, 239)
}

.FD-Posted-Card-Update {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: black;
  position: relative;
  top: 5px;
  left: 0;
}

.FD-Comment-Update {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: black;
  position: relative;
  top: 8px;
  left: 0;
}

.FD-Posted-Card-Delete {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: black;
  position: relative;
  top: 5px;
  left: 0;
}

.FD-Comment-Delete {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: black;
  position: relative;
  top: 8px;
  left: 0;
}
.hidden {
  display: none;
}
