body {
  height: fit-content;
  padding-top: 150px;
  width: 100%;
  background-color: rgb(243, 242, 239)
}

.FD-main-div {
  display: inline-flex;
}

.FD-Profile-Card {
  position: fixed;
  height: 310px;
  width: 220px;
  top: 75px;
  left: 160px;
  background-color: white;
  border: 3px;
  border-radius: 5px;
}

.FD-Post-Card {
  height: 118px;
  width: 560px;
  position: absolute;
  top: 75px;
  left: 400px;

  background-color: white;
  border: 3px;
  border-radius: 10px;
}

.FD-Post-Button {
  position: absolute;
  height: 35px;
  width: 460px;
  padding-left: 15px;
  padding-top: 15px;
  color: grey;
  font-size: 15px;
  font-weight: 500;
  font-family: sans-serif;
  align-items: center;
  top: 15px;
  margin-left: 70px;
  border: 1px solid grey;
  background-color: white;
  border-radius: 40px;
}

.FD-Post-Button-Text {
  display: inline-flex;
  padding-top: 10px;
  padding-left: 10px;
  margin: 0;
}

.FD-Post-Button:hover {
  cursor: pointer;
  background-color: rgb(243, 242, 239)
}

.FD-Post-Div {
  height: 60vw;
  width: 560px;
  position: absolute;
  flex-wrap: wrap;
  top: 200px;
  left: 400px;
  background-color: transparent;
}

.FD-Posted-Card {
  position: relative;
  height: 180px;
  width: 560px;
  overflow: auto;
  margin-bottom: 10px;
  background-color: white;
  border: 3px;
  border-radius: 10px;
}

.FD-Post-Card-Img {
  object-fit: cover;
  position: absolute;
  top: 15px;
  margin-left: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.FD-Posted-Card-Img {
  object-fit: cover;
  position: absolute;
  top: 15px;
  margin-left: 15px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.FD-Posted-Card-Name {
  position: absolute;
  margin-left: 75px;
  font-size: 16px;
  font-weight: 600;

}

.FD-Posted-Card-Description {
  position: absolute;
  top: 70px;
  font-size: 14px;
  margin-left: 15px;
  max-width: 600px;

}

.FD-Posted-Card-Update {
  position: absolute;
  top: 10px;
  right: 20px;
}

.FD-Posted-Card-Update:hover {
  cursor: pointer;
}


.FD-Posted-Card-Delete {
  position: absolute;
  top: 35px;
  right: 23px;
}

.FD-Posted-Card-Delete:hover {
  cursor: pointer;
}


.FD-Comment-Input-Div {
  display: inline-flex;
}

.FD-Comment-Div {
  position: absolute;
  top: 120px;
}

.FD-Comment-Card-Img {
  object-fit: cover;
  margin-left: 8px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.FD-Comment-Input {
  height: 30px;
  width: 480px;
  padding-left: 8px;
  margin-left: 5px;
  border: 1px solid grey;
  border-radius: 15px;
}
.FD-Comment-Bottom {
  margin-top: 25px;
}
.FD-Posted-Comment{
  display: inline-flex;
}

.FD-Comment {
  padding-left: 10px;
  margin-top: 8px;
}


.FD-Posted-Card-Comment-Icon {
  position: absolute;
  top: 130px;
  right: 40px;
  font-size: 14px;
}

.FD-Posted-Card-Like-Icon {
  position: absolute;
  top: 130px;
  right: 80px;
  font-size: 14px;
}

.FD-Menu-Main {
  position: absolute;
  text-align: center;
  top: 15px;
  right: 25px;
}

.FD-Comment-Menu-Main {
  text-align: center;
  position: absolute;
  right: 5px;
}

.FD-Menu-Options {
  position: absolute;
  background-color: rgb(241, 240, 237);
  top: 15px;
  right: -20px;
  border-radius: 5px;
  height: 60px;
  width: 80px;
}


.FD-Comment-Menu-Options {
  position: absolute;
  background-color: rgb(241, 240, 237);
  border-radius: 5px;
  height: 60px;
  width: 80px;
  top: -10px;
  right: 20px;
  z-index: 100;
}
