body {
  height: 100vw; /* changed */
  padding-top: 150px;
  width: 100%;
  background-color: rgb(243, 242, 239)
}

.FD-main-div {
  display: inline-flex;
}

.FD-Profile-Card {
  position: fixed;
  height: 310px;
  width: 220px;
  /* position: absolute; */
  top: 75px;
  left: 160px;

  background-color: white;
  border: 3px;
  border-radius: 5px;
}

/* .FD-Post-Div {
  height: 118px;
  width: 560px;
  top: 75px;
  left: 400px;

  background-color: black;
} */

.FD-Post-Card {
  height: 118px;
  width: 560px;
  position: absolute;
  top: 75px;
  left: 400px;

  background-color: white;
  border: 3px;
  border-radius: 10px;
}

.FD-Post-Input {
  position: absolute;
  height: 40px;
  width: 460px;
  padding-left: 10px;
  top: 15px;
  margin-left: 70px;
  border-radius: 40px;
}

.FD-Post-Div {
  /* display: flex; */
  height: 60vw; /* changed */
  width: 560px;
  position: absolute;
  flex-wrap: wrap;
  top: 200px;
  left: 400px;

  background-color: transparent;
}

.FD-Posted-Card {
  position: relative;
  height: 160px;
  width: 560px;
  margin-bottom: 10px;
  /* top: 75px;
  left: 400px; */

  background-color: white;
  border: 3px;
  border-radius: 10px;
}

.FD-Post-Card-Img {
  position: absolute;
  top: 10px;
  margin-left: 10px;
  height: 50px;
  border-radius: 50%;
}

.FD-Posted-Card-Img {
  position: absolute;
  top: 15px;
  margin-left: 10px;
  height: 50px;
  border-radius: 50%;
}

.FD-Posted-Card-Name {
  position: absolute;
  /* top: 0px; */
  margin-left: 75px;
  font-size: 16px;
  font-weight: 600;

}

.FD-Posted-Card-Description {
  position: absolute;
  top: 70px;
  font-size: 14px;
  margin-left: 15px;
  max-width: 600px;

}

.FD-Posted-Card-Menu-Icon {
  position: absolute;
  top: 10px;
  right: 20px;
  /* font-size: 14px; */
}

.FD-Posted-Card-Like-Icon {
  position: absolute;
  top: 130px;
  right: 80px;
  font-size: 14px;
}

.FD-Posted-Card-Comment-Icon {
  position: absolute;
  top: 130px;
  right: 40px;
  font-size: 14px;
}
