.profile-dropdown {
  position: absolute;
}

.profile-icon {
  font-size: larger;
  color:rgb(2, 102, 192);
  background-color: transparent;
  border: none;
}


.hidden {
  display: none;
}

.NV-div-main {
  z-index: 100;
  background-color: white;
  display: inline-flex;
  width: 100%;
  height: 50px;
  /* height: 7.5%; */
  position: fixed;
  top: 0;
  left: 0;
}

.NV-div-left {
  position: absolute;
  top: 5px;
  left: 160px;
}

.NV-div-right {
  position: absolute;
  top: 15px;
  right: 300px;
}

.NV-search {
  height: 38px;
  width: 260px;
  padding-left: 5px;
  margin-left: 15px;
  background-color: rgb(238, 243, 247);
  border: none;
  border-radius: 5px;
}

@media screen and (min-width: 2560px) { 
  .NV-div-main {
    z-index: 100;
    background-color: white;
    display: inline-flex;
    width: 100%;
    height: 80px;
    /* height: 7.5%; */
    position: fixed;
    top: 0;
    left: 0;
  }

  .NV-div-left {
    position: absolute;
    top: 15px;
    left: 340px;
  }

  .NV-div-right {
    position: absolute;
    top: 25px;
    right: 500px;
  }
}