.profile-icon {
  position: absolute;
  top: -8px;
  object-fit: cover;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.profile-icon:hover {
  cursor: pointer;
}
.Logedin-Div {
  position: absolute;
  top: 5px;
  right: -35px;
  height: 80px;
  width: 120px;
  border-radius: 5px;
  background-color: white;
}

.Logedout-Div {
  position: absolute;
  text-align: center;
  top: 25px;
  right: -40px;
  height: 140px;
  width: 120px;
  border-radius: 5px;
  background-color: white;
}
.Login {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: white;
  margin-top: 15px;
  margin-left: 5px;
  margin-bottom: 20px;
  width: 105px;
  border-radius: 5px;
  background-color: rgb(2, 102, 192);
}

.Singup {
  text-align: center;

  font-size: 15px;
  font-weight: 600;
  color: white;

  margin-left: 5px;
  width: 105px;
  border-radius: 5px;
  background-color: rgb(2, 102, 192);
}

.Logout {
  position: relative;
  bottom: -30px;
  left: 25px;

  height: 25px;
  width: 65px;
  border-radius: 5px;
  color: white;
  background-color: rgb(2, 102, 192);
}

.Login:hover {
  cursor: pointer;
}

.Singup:hover {
  cursor: pointer;
}
.Logout:hover {
  cursor: pointer;
}

.userInfo {
  position: relative;
}
