#modal-content {
  height: 400px;
}

.FD-Title{
  color: rgb(2, 102, 192);
  position: absolute;
  font-size: 20px;
  width: 250px;
  text-align: center;
  font-weight: 600;
  top: 40px;
  left: 80px;
}
.FD-Post_Div {
  position: absolute;
  top: 115px;
  left: 60px;
}

.FD-Post{
  height: 150px;
  width: 300px;
  resize: none;
}

.FD-Del-Button{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: rgb(2, 102, 192);
  bottom: 40px;
  left: 130px;
  width: 115px;
  border-radius: 6px;
  margin-left: 20px;
  padding: 6px 0px 6px 0px;
  color: white;
  cursor: pointer;
}
