/* .SP-body {
  /* position: absolute;
  top: 0;
  height: 50vw; 
  width: 100%;
  max-height: 50vw; */


.SP-body {
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  height: 28vw;
}

.SP-Title {
  position: absolute;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 30px;
  top: 1%;
  left: 8.5%;
  color: rgb(2, 102, 192);
}

.SP-Sub-Title {
  position: absolute;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 50px;
  width: 40%;
  top: 12%;
  left: 8.5%;
  color: rgb(135, 91, 76);
}

.SP-Login {
  position: absolute;
  top: 20px;
  right: 170px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: white;
  height: 20px;
  width: 60px;
  border-radius: 5px;
  background-color: rgb(2, 102, 192);
}

.SP-Signup {
  position: absolute;
  top: 20px;
  right: 100px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: white;
  height: 20px;
  width: 60px;
  border-radius: 5px;
  background-color: rgb(2, 102, 192);
}

.SP-Signup:hover{
  cursor: pointer;

}

.SP-Login:hover{
  cursor: pointer;
}

.SP-Logo {
  position: absolute;
  top: 6%;
  left: 16%;
  color: rgb(2, 102, 192);
}

.SP-Background {
  position: absolute;
  top: 140px;
  right: -150px;
  height: 600px;
  width: 1000px;
}

.SP-About-Me {
  position: absolute;
  top: 125%;
  left: 900px;
  text-align: center;
  font-size: 15px;
}

.SP-About-Me-Pic {
  position: absolute;
  top: 115%;
  left: 18%;
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

.linkedinLink{
  position: absolute;
  top: 132%;
  left: 19%;
  color: rgb(2, 102, 192);
}

.githubLink{
  position: absolute;
  top: 450px;
  left: 1060px;
  color: rgb(2, 102, 192);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.SP-Title,
.SP-Sub-Title {
  animation-duration: 1s;
  animation-name: fadeIn;
}

.SP-Email-Text {
  position: absolute;
  top: 39%;
  left: 8.5%;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: rgb(64, 64, 64);
}

.SP-Email-Input {
  position: absolute;
  top: 45%;
  left: 8.5%;
  width: 25%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid rgb(64, 64, 64);
  padding-left: 10px;
}

.SP-Email-Input:hover {
  border: 2px solid rgb(2, 102, 192);
}

.SP-Password-Text {
  position: absolute;
  top: 54%;
  left: 8.5%;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: rgb(64, 64, 64);
}

.SP-Password-Input {
  position: absolute;
  top: 60%;
  left: 8.5%;
  width: 25%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid rgb(64, 64, 64);
  padding-left: 10px;
}

.SP-Password-Input:hover {
  border: 2px solid rgb(2, 102, 192);
}

.SP-Signin-Button {
  position: absolute;
  top: 73%;
  left: 8.5%;
  width: 26%;
  height: 50px;
  border-radius: 50px;
  border: 1px solid rgb(64, 64, 64);
  background-color: rgb(2, 102, 192);
  color: white;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.SP-Signin-Button:hover {
  cursor: pointer;
  border: 2px solid rgb(2, 102, 192);
  background-color: white;
  color: rgb(2, 102, 192);
}

.SP-Left-Or-Line {
  position: absolute;
  top: 85%;
  left: 8.5%;
  width: 11%;
  height: 1px;
  background-color: rgb(64, 64, 64);
}

.SP-Or-Text {
  position: absolute;
  top: 82%;
  left: 21.2%;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: rgb(64, 64, 64);
}

.SP-Right-Or-Line {
  position: absolute;
  top: 85%;
  left: 23.5%;
  width: 11%;
  height: 1px;
  background-color: rgb(64, 64, 64);
}

.SP-Demo-Button {
  position: absolute;
  top: 91%;
  left: 8.5%;
  width: 26%;
  height: 50px;
  border-radius: 50px;
  border: 1px solid rgb(64, 64, 64);
  color: rgb(2, 102, 192);
  background-color: white;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.SP-Demo-Button:hover {
  cursor: pointer;
  border: 2px solid rgb(2, 102, 192);
  background-color: rgb(2, 102, 192);
  color: white;
}

.SP-Signup-Button {
  position: absolute;
  top: 101%;
  left: 8.5%;
  width: 26%;
  height: 50px;
  border-radius: 50px;
  border: 1px solid rgb(64, 64, 64);
  color: rgb(2, 102, 192);
  background-color: white;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.SP-Signup-Button:hover {
  cursor: pointer;
  border: 2px solid rgb(2, 102, 192);
  background-color: rgb(2, 102, 192);
  color: white;
}

@media screen and (min-width: 2560px) { 
  .SP-body {
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    height: 36vw;
  }

  .SP-Logo {
    position: absolute;
    top: 6%;
    left: 14.2%;
    color: rgb(2, 102, 192);
  }

  .SP-Title {
    position: absolute;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 40px;
    top: 3%;
    left: 8.5%;
    color: rgb(2, 102, 192);
  }
  
  .SP-Sub-Title {
    font-size: 75px;
    width: 35%;
    top: 12%;
    left: 8.5%;
  }
  
  .SP-Email-Text {
    top: 35%;
    font-size: 18px;
  }
  
  .SP-Email-Input {
    top: 40%;
    width: 30%;
  }
  
  .SP-Password-Text {
    top: 48%;
    font-size: 18px;
  }
  
  .SP-Password-Input {
    top: 53%;
    width: 30%;
  } 


  .SP-Signin-Button {
    top: 60%;
    left: 8.5%;
    width: 30%;
    height: 70px;
    font-size: 20px;
  }
  
  .SP-Signin-Button:hover {
    cursor: pointer;
    border: 2px solid rgb(2, 102, 192);
    background-color: white;
    color: rgb(2, 102, 192);
  }
  
  .SP-Left-Or-Line {
    position: absolute;
    top: 70%;
    left: 8.5%;
    width: 14%;
    height: 1px;
    background-color: rgb(64, 64, 64);
  }
  
  .SP-Or-Text {
    top: 68.5%;
    left: 23.5%;
    font-size: 15px;
  }
  
  .SP-Right-Or-Line {
    top: 70%;
    left: 25%;
    width: 14%;

  }
  
  .SP-Demo-Button {
    top: 75%;
    width: 30%;
    height: 70px;
    font-size: 20px;
  }
  
  .SP-Signup-Button {
    top: 83%;
    width: 30%;
    height: 70px;
    font-size: 20px;

  }

  .SP-Background {
    position: absolute;
    top: 340px;
    right: -150px;
    height: 1500px;
    width: 1500px;
  }
}