.PP-User-Info-Div {
    position: absolute;
    top: 10%;
    left: 10%;
    height: 45%;
    width: 55%;
    border-radius: 10px;
    background-color: white;
}

.PP-SideCard-Div {
    position: absolute;
    top: 10%;
    left: 70%;
    height: 50%;
    width: 20%;
    border-radius: 10px;
    background-color: white;

}

.PP-User-About-Div {
    position: absolute;
    top: 60%;
    left: 10%;
    min-height: fit-content;
    max-height: fit-content;
    height: auto;
    width: 55%;
    border-radius: 10px;
    background-color: white;
}

.PP-User-HeaderImage {
    position: relative;
    object-fit: cover;
    height: 150px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
}

.PP-User-ProfileImage {
    position: absolute;
    object-fit: cover;
    top: 60px;
    left: 25px;
    height: 120px;
    width: 120px;
    border: 4px solid white;
    z-index: 1;
    border-radius: 100%;
}

.PP-User-Name {
    position: absolute;
    top: 180px;
    left: 25px;
    font-weight: 600;
    font-family: sans-serif;
    z-index: 1;
}

.PP-User-Occupation {
    position: absolute;
    top: 210px;
    left: 25px;
    color: cadetblue;
    font-family: sans-serif;
    font-size: small;
    z-index: 1;
}

.PP-User-Location {
    position: absolute;
    top: 240px;
    left: 25px;
    font-family: sans-serif;
    font-size: small;
    z-index: 1;
}

.PP-User-About-Title {
    position: absolute;
    top: 15px;
    left: 25px;
    font-weight: 600;
    font-size: larger;
    font-family: sans-serif;
    z-index: 1;
}

.PP-User-About-Text {
    display: inline-flex;
    padding-top: 60px;
    padding-left: 25px;
    padding-bottom: 10PX;
    width: 90%;
    font-family: sans-serif;
    font-size: small;
}

.PP-About-Edit-Icon {
    position: absolute;
    padding-top: 5px;
    padding-left: 6px;
    top: 25px;
    right: 25px;
    height: 20px;
    width: 20px;
}

.PP-About-Edit-Icon:hover {
    border-radius: 100%;
    background-color: rgb(243, 242, 239);
    cursor: pointer;
}

.PP-About-Menu-Open {
    position: absolute;
    top: 60px;
    right: 5px;
    height: 90px;
    width: 150px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    z-index: 1;
}

.PP-About-Edit-Menu-Div {
    position: absolute;
    display: inline-flex;
    margin: 0;
    height: 50%;
    width: 100%;
    text-align: center;
}

.PP-About-Delete-Menu-Div {
    position: absolute;
    display: inline-flex;
    margin: 0;
    top: 50%;
    height: 50%;
    width: 100%;
    text-align: center;
}

.PP-About-Edit-Menu-Div:hover {
    cursor: pointer;
    background-color: rgb(243, 242, 239);
}

.PP-About-Delete-Menu-Div:hover {
    cursor: pointer;
    background-color: rgb(243, 242, 239);
}

.PP-About-Edit-Menu-Text {
    position: absolute;
    top: 3px;
    width: 80px;
    font-family: sans-serif;
    font-size: small;
    font-weight: 700;
    z-index: 1;
}

.PP-About-Delete-Menu-Text {
    position: absolute;
    width: 80px;
    font-family: sans-serif;
    font-size: small;
    font-weight: 700;
    z-index: 1;
}

.PP-Add-About {
    position: absolute;
    text-align: center;
    height: 25px;
    width: 95px;
    top: 25px;
    right: 25px;
    padding-top: 10px;
    font-weight: 700;
    font-family: sans-serif;
    font-size: small;
    border: 1px solid  rgb(80, 141, 226);
    color: rgb(80, 141, 226);
    border-radius: 15px;
}

.PP-Add-About:hover {
    cursor: pointer;
}

.PP-About-Edit {
    position: absolute;
    text-align: center;
    height: 25px;
    width: 95px;
    top: 5px;
    right: 40px;
    padding-top: 10px;
    font-weight: 700;
    font-family: sans-serif;
    font-size: small;
    z-index: 1;
}

.PP-About-Edit-Icon:hover {
    cursor: pointer;
}

.PP-About-Icons {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1;
}

.PP-About-Icons:hover {
    cursor: pointer;
}

.PP-SideCard-Title {
    position: absolute;
    top: 10px;
    left: 15px;
    font-weight: 600;
    font-size: 15px;
    font-family: sans-serif;
}

.PP-SideCard-User-Div {
    position: absolute;
    display: inline-flex;
    top: 50px;
    left: 15px;
    height: 80px;
    width: 90%;
}

.PP-SideCard-User-Div-Two {
    position: absolute;
    display: inline-flex;
    top: 110px;
    left: 15px;
    height: 80px;
    width: 90%;
}
.PP-SideCard-User-Div-Three {
    position: absolute;
    display: inline-flex;
    top: 170px;
    left: 15px;
    height: 80px;
    width: 90%;
}

.PP-SideCard-User-Image {
    position: absolute;
    object-fit: cover;
    top: 20px;
    left: 20px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.PP-SideCard-User-Image-Two {
    position: absolute;
    object-fit: cover;
    top: 50px;
    left: 20px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.PP-SideCard-User-Image-Three {
    position: absolute;
    object-fit: cover;
    top: 80px;
    left: 20px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.PP-SideCard-User-Name {
    position: absolute;
    top: 10px;
    left: 80px;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 15px;
}

.PP-SideCard-User-Name-Two {
    position: absolute;
    top: 40px;
    left: 80px;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 15px;
}

.PP-SideCard-User-Name-Three {
    position: absolute;
    top: 70px;
    left: 80px;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 15px;
}

.PP-SideCard-User-Location {
    position: absolute;
    top: 35px;
    left: 80px;
    font-family: sans-serif;
    font-size: 12px;
}

.PP-SideCard-User-Location-Two {
    position: absolute;
    top: 65px;
    left: 80px;
    font-family: sans-serif;
    font-size: 12px;
}

.PP-SideCard-User-Location-Three {
    position: absolute;
    top: 95px;
    left: 80px;
    font-family: sans-serif;
    font-size: 12px;
}

.PP-SideCard-Hr {
    position: absolute;
    top: 140px;
    left: 15px;
    width: 90%;
    border-top: 1px solid lightgrey;
}

.PP-SideCard-Hr-Two {
    position: absolute;
    top: 230px;
    left: 15px;
    width: 90%;
    border-top: 1px solid lightgrey;
}

.PP-SideCard-Hr-Three {
position: absolute;
top: 0;
/* left: 15px; */
width: 100%;
border-top: 1px solid lightgrey;
}

.PP-SideCard-ShowMore-Text {
    position: absolute;
    top: 3px;
    left: 90px;
    font-family: sans-serif;
    font-size: 15px;
    color: rgb(102, 102, 102);

}

.PP-SideCard-ShowMore-Icon {
    position: absolute;
    top: 25px;
    left: 178px;
    font-size: 20px;
    color: rgb(102, 102, 102);
    z-index: 1;
}

.PP-SideCard-ShowMore {
    position: absolute;
    top: 320px;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    background-color: white;
}

.PP-SideCard-ShowMore:hover {
    cursor: pointer;
    background-color: lightgray;
}





@media screen and (min-width: 2560px) { 

    /*              USER PROFILE DIV          */
    
    .PP-User-Info-Div {
        position: absolute;
        top: 8%;
        left: 13%;
        height: 32%;
        width: 55%;
        border-radius: 10px;
        background-color: white;
    }

    .PP-User-HeaderImage {
        height: 250px;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: white;
    }
    
    .PP-User-ProfileImage {

        top: 130px;
        left: 30px;
        height: 200px;
        width: 200px;
        border: 8px solid white;
        z-index: 1;
        border-radius: 100%;
    }
    
    .PP-User-Name {
        position: absolute;
        top: 360px;
        left: 45px;
        font-size: 30px;
        font-weight: 600;
        font-family: sans-serif;
        z-index: 1;
    }
    
    .PP-User-Occupation {
        position: absolute;
        top: 415px;
        left: 45px;
        color: cadetblue;
        font-family: sans-serif;
        font-size: 18px;
        z-index: 1;
    }
    
    .PP-User-Location {
        position: absolute;
        top: 455px;
        left: 45px;
        font-family: sans-serif;
        font-size: 15px;
        z-index: 1;
    }
    

    /*              USER ABOUT DIV          */

    .PP-User-About-Div {
        position: absolute;
        top: 45%;
        left: 13%;
        min-height: fit-content;
        max-height: fit-content;
        height: auto;
        width: 55%;
        border-radius: 10px;
        background-color: white;
    }

    .PP-User-About-Title {
        font-size: 30px;
    }
    
    .PP-User-About-Text {
        padding-top: 80px;
        font-size: 20px;
    }
    

    /*              SIDE CARD DIV          */

    .PP-SideCard-Div {
        position: absolute;
        top: 8%;
        left: 70%;
        height: 20%;
        width: 13%;
        border-radius: 10px;
        background-color: white;
    
    }
    
    .PP-SideCard-ShowMore-Text {
        left: 110px;
    }

    .PP-SideCard-ShowMore-Icon {
        left: 198px;
    }
}