.PP-Create-About {
    position: relative;
    height: 400px;
    width: 600px;
    z-index: 9999;
}

.PP-Create-Title {
    position: absolute;
    font-size: 20px;
    width: 90px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;
    top: 5px;
    left: 20px;
}

.PP-Create-About-xmark-icon {
    position: absolute;
    top: 20px;
    right: 18px;
    font-size: 20px;
    color: grey;
    cursor: pointer;
}

.PP-Create-About-Div {
    position: absolute;
    top: 80px;
    left: 40px;
}

.PP-Create-About-TextArea {
    height: 240px;
    width: 530px;
    resize: none;
}

.PP-Create-Button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-family: sans-serif;
    font-weight: 700;
    font-size: medium;
    background-color: rgb(2, 102, 192);
    bottom: 20px;
    left: 480px;
    width: 80px;
    border-radius: 20px;
    margin-left: 20px;
    padding: 6px 0px 6px 0px;
    color: white;
    cursor: pointer;
}

.PP-Create-Button:hover {
    background-color: rgb(2, 82, 162);
}

.custom-line {
    position: absolute;
    border-top: 1px solid lightgrey;
    top: 60px;
    width: 100%;
}
